{
----------------------
---- race-specific ----
----------------------
if you.race() == "Demonspawn" then
  crawl.setopt("more += monster_warning:wielding.*of holy wrath")
elseif you.race() == "Formicid" then
  crawl.setopt("more -= monster_warning:curare")
elseif you.race() == "Gargoyle" then
  crawl.setopt("more -= monster_warning:curare")
elseif you.race() == "Ghoul" then
  crawl.setopt("more -= monster_warning:curare")
  crawl.setopt("more += monster_warning:wielding.*of holy wrath")
elseif you.race() == "Gnoll" then
  crawl.setopt("message_colour ^= mute:intrinsic_gain:skill increases to level")
elseif you.race() == "Mummy" then
  crawl.setopt("more -= monster_warning:curare")
  crawl.setopt("more += monster_warning:wielding.*of holy wrath")
end


----------------------
---- god-specific ----
----------------------
local cur_god = "No God"
local function set_god_options()
  if you.god() ~= cur_god then
    cur_god = you.god()
  
	if cur_god == "Beogh" then
	  crawl.setopt("autopickup_exceptions ^= >scrolls? of immolation")
      crawl.setopt("runrest_ignore_message += no longer looks unusually strong")
      crawl.setopt("force_more_message += Your orc.*dies")
	  crawl.setopt("macros += M 1 tf")
	  crawl.setopt("macros += M 2 ta")
	  crawl.setopt("macros += M 3 tr")
	  crawl.setopt("macros += M 4 tg")
	  crawl.setopt("macros += M 6 ab")
	elseif cur_god == "Dithmenos" then
	  crawl.setopt("force_more_message += god:You are shrouded in an aura of darkness")
	  crawl.setopt("force_more_message += god:You now sometimes bleed smoke")
	  crawl.setopt("force_more_message += god:You.*no longer.*bleed smoke")
	  crawl.setopt("force_more_message += god:Your shadow no longer tangibly mimics your actions")
	  crawl.setopt("force_more_message += god:Your shadow now sometimes tangibly mimics your actions")
	elseif cur_god == "Fedhas" then
      crawl.setopt("force_more_message += god:Fedhas invokes the elements against you")
    elseif cur_god == "Hepliaklqana" then
      crawl.setopt("runrest_ignore_message ^= emerges from the mists of memory")
	elseif cur_god == "Jiyva" then
      crawl.setopt("force_more_message += god:will now unseal the treasures of the Slime Pits")
	  crawl.setopt("force_more_message += god:Jiyva alters your body")
	  crawl.setopt("force_more_message += god:splits in two")
	  crawl.setopt("force_more_message += god:Your prayer is over.")
	elseif cur_god == "Kikubaaqudgha" then
      crawl.setopt("force_more_message += god:Kikubaaqudgha will grant you")
	elseif cur_god == "Lugonu" then
      crawl.setopt("force_more_message += god:Lugonu will now corrupt your weapon")
      crawl.setopt("force_more_message += god:Lugonu sends minions to punish you")
	elseif cur_god == "Okawaru" then
      crawl.setopt("force_more_message += god:Okawaru sends forces against you")
	elseif cur_god == "Qazlal" then
      crawl.setopt("force_more_message += god:resistances upon receiving elemental damage")
      crawl.setopt("force_more_message += god:You are surrounded by a storm which can block enemy attacks")
	elseif cur_god == "The Shining One" then
      crawl.setopt("force_more_message += god:Your divine shield starts to fade.")
      crawl.setopt("force_more_message += god:Your divine shield fades away.")
	elseif cur_god == "Trog" then
      crawl.setopt("force_more_message += god:You feel the effects of Trog's Hand fading")
      crawl.setopt("force_more_message += god:You feel less resistant to hostile enchantments")
	elseif cur_god == "Uskayaw" then
      crawl.setopt("force_more_message += god:You can no longer pass through a line of other dancers.")
	elseif cur_god == "Wu Jian Council" then
      crawl.setopt("runrest_ignore_message += heavenly storm settles")
	elseif cur_god == "Xom" then
      crawl.setopt("force_more_message += god:")
      crawl.setopt("force_more_message += staircase.*moves")
      crawl.setopt("force_more_message += Some monsters swap places")
	elseif cur_god == "Yredelemnul" then
      crawl.setopt("force_more_message += god:soul is now ripe for the taking")
      crawl.setopt("force_more_message += god:soul is no longer ripe for the taking")
      crawl.setopt("force_more_message += god:dark mirror aura disappears")
	elseif cur_god == "Zin" then
      crawl.setopt("force_more_message += god:will now cure all your mutations")
	end
  end
end



---------------------
---- xl-specific ----
---------------------
local warn_early_levels = false
local warn_mid_levels = false
local function set_xl_options()
  if not warn_early_levels and you.xl() <= 5 then
    warn_early_levels = true
	crawl.setopt("force_more_message += wielding.*(vorpal|(?<!armour)(?<!mail)(?<!scales) of)")
  elseif warn_early_levels and you.xl() > 5 then
	warn_early_levels = false
	crawl.setopt("force_more_message -= wielding.*(vorpal|(?<!armour)(?<!mail)(?<!scales) of)")
  end
  
  if not warn_mid_levels and you.xl() <= 10 then
    warn_mid_levels = true
	crawl.setopt("force_more_message += wielding.*of electrocution")
  elseif warn_mid_levels and you.xl() > 10 then
	warn_mid_levels = false
	crawl.setopt("force_more_message -= wielding.*of electrocution")
  end
end


------------------------
---- skill-specific ----
------------------------
local ignoring_spellcasting = false
local function set_skill_options()
  -- Ignore spellcaster items if you have no spellcasting skill, and wearing some armour without much armour skill
  local arm = items.equipped_at("body armour")
  if not ignoring_spellcasting and you.skill("Spellcasting") == 0 and arm and arm.encumbrance > 2*you.skill("Armour") then
    ignoring_spellcasting = true
    crawl.setopt("explore_stop_pickup_ignore += spellbooks")
    crawl.setopt("autopickup_exceptions ^= >scrolls? of amnesia, >potions? of brilliance, >ring of wizardry")
    crawl.setopt("runrest_ignore_message += You add the spell")
  elseif ignoring_spellcasting and not (you.skill("Spellcasting") == 0 and arm and arm.encumbrance > 2*you.skill("Armour")) then
    ignoring_spellcasting = false
    crawl.setopt("explore_stop_pickup_ignore -= spellbooks")
    crawl.setopt("autopickup_exceptions -= >scrolls? of amnesia, >potions? of brilliance, >ring of wizardry")
    crawl.setopt("runrest_ignore_message -= You add the spell")
  end
end



------------------------------------------
------------------ Hook ------------------
------------------------------------------
function ready_dynamic_options()
  set_god_options()
  set_xl_options()
  set_skill_options()
end

}