{
-------------------------------------------------
---- Start with travel speed to slowest ally ----
-------------------------------------------------
-- Make sure this comes before Skill menu on startup, since they both use crawl.sendkeys()
local need_toggle_travel_speed = true
if you.turns() == 0 and need_toggle_travel_speed then
  need_toggle_travel_speed = false
  crawl.sendkeys(20)
end


---------------------------------------------
---- Skill menu on startup (by rwbarton) ----
---------------------------------------------
local need_skills_opened = true
if you.turns() == 0 and need_skills_opened then
  need_skills_opened = false
  crawl.sendkeys("m!!")
end

}