{
loaded_pa_misc = true
crawl.read_options("pa-util.rc")
crawl.read_options("pa-data.rc")
crawl.read_options("pa-main.rc")


--------------------------
---- Alert rare items ----
--------------------------
function alert_rare_items(it)
  local index = get_rare_item_index(it)
  if index == -1 then return end
  
  local do_alert = true
  -- Don't alert if already wearing a larger shield
  if rare_items[index] == "buckler" then
    local sh = items.equipped_at("shield")
	if sh and sh.name("base") ~= "orb" then do_alert = false end
  elseif rare_items[index] == "kite shield" then
    local sh = items.equipped_at("shield")
    if sh and sh.name("base"):find("tower shield") then do_alert = false end
  end
	
  if do_alert then
    -- Found a new rare item! We may already have one if it was auto-picked up
    crawl.mpr("<magenta>----It's your first " .. rare_items[index] .. "!----</magenta>", "item")
    crawl.more()
  end

  rare_items[index] = ""
  
  return
end
crawl.setopt("runrest_stop_message += It's your first.*!")


--------------------
---- Alert orbs ----
--------------------
function alert_orbs(it)
  if items.equipped_at("shield") then return false end
  if not it.fully_identified then return false end
  alert_item(it, "New orb")
  return false
end



----------------------------
---- Smart staff pickup ----
----------------------------
function pickup_staves(it)
  if it.is_useless or not it.fully_identified then return false end

  local basename = it.name("base")
  local good_staff = false
  if basename == "staff of fire" then good_staff = you.skill("Fire Magic") > 0
  elseif basename == "staff of cold" then good_staff = you.skill("Ice Magic") > 0
  elseif basename == "staff of earth" then good_staff = you.skill("Earth Magic") > 0
  elseif basename == "staff of air" then good_staff = you.skill("Air Magic") > 0
  elseif basename == "staff of poison" then good_staff = you.skill("Poison Magic") > 0
  elseif basename == "staff of death" then good_staff = you.skill("Necromancy") > 0
  elseif basename == "staff of conjuration" then good_staff = you.skill("Conjurations") > 0
  else crawl.mpr("Unrecognized staff: " .. basename, "error")
  end
  
  if good_staff == true then
    return pickup_item(it)
  end
  
  return false
end


------------------------
---- alert_staves() ----
------------------------
function alert_staves(it)
  if not it.fully_identified then return false end
  local needRes = false
  local basename = it.name("base")
  
  if basename == "staff of fire" then needRes = you.res_fire() == 0
  elseif basename == "staff of cold" then needRes = you.res_cold() == 0
  elseif basename == "staff of air" then needRes = you.res_shock() == 0
  elseif basename == "staff of poison" then needRes = you.res_poison() == 0
  elseif basename == "staff of death" then needRes = you.res_draining() == 0
  end
  
  if needRes == true then
    return alert_item(it, "Staff resistance")
  end
  
  return false
end

}