####### Autopickup exceptions #######
ae := autopickup_exceptions
ae ^= <potions? of attraction, <potions? of lignification, <potions? of mutation
ae ^= <scrolls? of immolation, <scrolls? of poison
ae ^= <missile, <misc, <bauble
ae ^= >staff of.*, >useless_item
