# See manage-consumables.lua for consumable inscriptions
ai := autoinscribe

# General
ai += of cold resistance:rC+
ai += of fire resistance:rF+
ai += of poison resistance:rPois
ai += of corrosion resistance:rCorr
ai += of invulnerability:rInv
ai += of magic regeneration:MRegen+
ai += of positive energy:rN+
ai += of regeneration:Regen+
ai += (?!.*potion)of resistance:rF+, rC+
ai += of willpower:Will+

# Armour (avoid double inscribing artefacts)
ai += (?!.*artefact)fire dragon scale:rF++, rC-
ai += (?!.*artefact)gold dragon scale:rC+, rF+, rPois
ai += (?!.*artefact)ice dragon scale:rC++, rF-
ai += (?!.*artefact)pearl dragon scale:rN+
ai += (?!.*artefact)storm dragon scale:rElec
ai += (?!.*artefact)swamp dragon scale:rPois
ai += (?!.*artefact)quicksilver dragon scale:Will+
ai += (?!.*artefact)shadow dragon scale:Stlth+
ai += (?!.*artefact)(?<!moon) troll leather:Regen+


# Amulets
ai += amulet of faith:Faith, !P

# Rings
ai += ring of fire:rF+, rC-
ai += ring of flight:+Fly
ai += ring of ice:rC+, rF-
ai += ring of magical power:MP+9
ai += ring of protection from cold:rC+
ai += ring of protection from fire:rF+
ai += ring of resist corrosion:rCorr
ai += ring of see invisible:sInv
ai += ring of wizardry:Wiz+

# Staves
ai += staff of air:rElec
ai += staff of alchemy:rPois
ai += staff of cold:rC+
ai += staff of fire:rF+
ai += staff of necromancy:rN+
