show_resist_percent = false
stat_colour = 3:red, 6:yellow

hp_colour = 100:green, 99:lightgrey, 75:yellow, 50:lightred, 25:red
mp_colour = 100:green, 99:lightgrey, 75:yellow, 50:lightred, 25:red

####### Menu Colors #######
# Set Alias & clear defaults
menu := menu_colour
menu =

#### Item colours
$i_equipped := lightgreen
$i_boring := darkgrey
$i_plain := lightgrey
$i_ego := white
$i_wand := lightblue
$i_evoker := yellow
$i_misc := brown
$i_shade_artefact := cyan
$i_shade_jewellery := magenta
$i_shade_consumables := green

## Consumables
$i_warning := lightred
$i_useful := lightblue
$i_heal := green
$i_emergency := lightcyan
$i_rare := yellow

#### Assign item menu_colours
## Highest priority; always correct
menu += $i_boring:(melded|useless_item)
menu += $i_warning:forbidden
menu += inventory:$i_equipped:.*equipped

## Menu-specific overrides
# Begin workaround for https://github.com/crawl/crawl/issues/4825 (to override inventory color only)
menu += pickup:light$i_shade_artefact:artefact
menu += stash:light$i_shade_artefact:artefact

menu += pickup:$i_evoker:inert
menu += stash:$i_evoker:inert
menu += inventory:$i_boring:inert

menu += pickup:light$i_shade_jewellery:amulet
menu += stash:light$i_shade_jewellery:amulet
menu += inventory:$i_shade_jewellery:amulet
# End workaround

menu += inventory:$i_boring:inert
menu += inventory:$i_shade_jewellery:amulet
menu += pickup:light$i_shade_consumables:potion
menu += pickup:$i_shade_consumables:scroll
menu += pickup:$i_shade_artefact:artefact.*weapon
menu += pickup:$i_ego:(ego|(unidentified.*(glowing|runed|shiny|embroidered)|troll leather|dragon scales))
menu += pickup:$i_wand:wand of
menu += resists:$i_shade_artefact:artefact
menu += resists:$i_ego:ego
menu += resists:$i_plain:(armour|weapon|jewellery)
menu += shop:$i_ego:(ego|(unidentified.*(glowing|runed|shiny|embroidered)|troll leather|dragon scales))


## Main item colours
menu += $i_equipped:.*equipped.*(weapon|armour|jewellery)
menu += light$i_shade_artefact:artefact
menu += light$i_shade_jewellery:jewellery
menu += $i_ego:ego

# Decks
menu += $i_emergency:deck of escape
menu += $i_useful:deck of summoning
menu += $i_warning:deck of destruction

# Misc
menu += $i_rare:manual of
menu += $i_misc:(spellbook|staff of|talisman|bauble)
menu += $i_evoker:(curare|disjunction|throwing net)
menu += $i_evoker:evoker

# Potions
menu += $i_emergency:potions? of (cancellation|haste|resistance)
menu += $i_heal:potions? of (ambrosia|curing|i_heal wounds|magic)
menu += $i_rare:potions? of experience
menu += $i_useful:potions? of (brilliance|enlightenment|invisibility|might)
menu += $i_warning:potions? of (attraction|berserk|lignification|mutation)

# Scrolls
menu += $i_plain:scrolls? of (amnesia|enchant|identify)
menu += $i_emergency:scrolls? of (blinking|butterflies|fear|fog|summoning)
menu += $i_rare:scrolls? of (acquirement|brand)
menu += $i_useful:scrolls? of (revelation|teleportation)
menu += $i_warning:scrolls? of (immolation|noise|poison|silence|torment|vulnerability)

# Wands
menu += $i_emergency:wand of digging
menu += $i_plain:wand of (flame|paralysis|charming|mindburst|polymorph)
menu += $i_useful:wand of (acid|iceblast|light|quicksilver|roots|warping)


####### Message Channels #######
# (Main changes are god, timed_portal, mutation, and several mute/boring)
$m_boring := darkgrey
$m_normal := lightgrey
$m_interesting := white
$m_interface := cyan
$m_info := blue
$m_attention := lightmagenta
$m_danger  := red
$m_warning := lightred
$m_alert := yellow
$m_gain := green
$m_restore := lightblue

channel.plain = $m_normal
channel.prompt = $m_interface
channel.god = $m_alert
channel.duration = $m_restore
channel.danger = $m_danger
channel.warning = $m_warning
channel.recovery = $m_gain
channel.talk = mute
channel.talk_visual = mute
channel.timed_portal = $m_alert
channel.sound = $m_normal
channel.intrinsic_gain = $m_gain
channel.mutation = $m_attention
channel.monster_spell = $m_interesting
channel.monster_enchant = $m_interesting
channel.monster_warning = $m_warning
channel.friend_spell = mute
channel.friend_enchant = mute
channel.friend_action = mute
#channel.monster_damage = mute
channel.monster_target = mute
channel.banishment = $m_alert
channel.equipment = $m_normal
channel.floor = $m_boring
channel.multiturn = $m_boring
channel.examine = $m_normal
channel.examine_filter = $m_boring
channel.diagnostic = $m_info
channel.error = $m_attention
channel.tutorial = $m_info
channel.orb = $m_attention
channel.hell_effect = $m_warning
channel.dgl_message = $m_attention

####### Message-specific colors
msc := message_colour

# Travel / Exploring
msc ^= $m_alert:You now have enough gold to buy 
msc ^= $m_alert:You have identified the last 
msc ^= $m_boring:You .*(open|close) the door
msc ^= $m_boring:You climb (upwards|downwards)
msc ^= $m_interesting:Done exploring
msc ^= $m_interesting:Found a faded altar
msc ^= $m_interesting:You disentangle yourself
msc ^= $m_warning:You are caught in .* web

# Combat
msc ^= $m_boring:(T|t)he (bush|plant|fungus)
msc ^= $m_boring:does no damage
msc ^= $m_boring:You block .* attack
msc ^= $m_boring:fails to defend itself
msc ^= $m_boring:No (reachable )?target in view
msc ^= $m_boring:struggles against the net
msc ^= $m_boring:You furiously retaliate
msc ^= $m_boring:You swing at nothing
msc ^= $m_boring:You hear a splash
msc ^= $m_interesting:flickers and vanishes
msc ^= $m_interesting:is touched by paradox
msc ^= $m_interesting:seems to slow down
msc ^= $m_interesting:Your unstable footing causes you to 
msc ^= $m_interesting:You become entangled in the net
msc ^= $m_interesting:You feel a bit more experienced
msc ^= $m_interesting:You .*miss something
msc ^= $m_interesting:You are blasted

# Equipment
msc ^= $m_boring:You unwield your 

# Bad things
msc ^= $m_danger: delaying your translocation
