stat_colour = 3:red, 6:yellow

hp_colour = 100:green, 99:lightgrey, 75:yellow, 50:lightred, 25:red
mp_colour = 100:green, 99:lightgrey, 75:yellow, 50:lightred, 25:red

####### Menu Colors #######
# Set Alias & clear defaults
menu := menu_colour
menu =

## Item colours
$i_boring := darkgrey
$i_normal := lightgrey
$i_warning := red
$i_useful := lightblue
$i_heal := green
$i_emergency := lightcyan
$i_rare := yellow

# First, color uselessness everywhere
menu += $i_boring:(melded|useless_item)
menu += $i_warning:forbidden

# Overrides: pickup menu (Affects Cntl-F)
#   (why don't these work when they come after inventory overrides?)
menu += pickup:lightmagenta:artefact.*jewellery
menu += pickup:lightgreen:artefact.*weapon
menu += pickup:lightcyan:artefact.*armour
menu += pickup:yellow:artefact
menu += pickup:magenta:jewellery
menu += pickup:lightblue:(ego|(unidentified.*(glowing|runed|shiny|embroidered)))
menu += pickup:magenta:(wand|cui_rare|disjunction|throwing net)
menu += pickup:$i_normal:(missile|weapon|armour)
menu += brown:spellbook

# Overrides: inventory menu
menu += inventory:lightgreen:.*equipped.*(weapon|armour|jewellery)
menu += inventory:$i_boring:inert
menu += inventory:lightmagenta:artefact.*amulet
menu += inventory:magenta:amulet
menu += inventory:cyan:artefact
menu += inventory:white:ego
menu += inventory:$i_normal:(weapon|armour|jewellery)

# Overrides: use_item menu
menu += use_item:lightgreen:.*equipped.*(weapon|armour|jewellery)
menu += use_item:lightmagenta:artefact.*amulet
menu += use_item:magenta:amulet
menu += use_item:white:artefact
menu += use_item:lightgrey:ego
menu += use_item:$i_normal:(weapon|armour|jewellery)

## General settings; used for whatever isn't explicitly set above
# Artefact / Ego / Vanilla (For equipment)
menu += $i_emergency:artefact
menu += $i_useful:ego
menu += $i_normal:(weapon|armour|jewellery)

# Decks
menu += $i_emergency:deck of escape
menu += $i_useful:deck of summoning
menu += $i_warning:deck of destruction

# Misc
menu += blue:(talisman|bauble)
menu += lightmagenta:evoker

# Missiles
menu += $i_emergency:(cui_rare|disjunction|throwing net)
menu += $i_normal:missile

# Potions
menu += $i_emergency:potions? of (cancellation|haste|resistance)
menu += $i_heal:potions? of (ambrosia|curing|i_heal wounds|magic)
menu += $i_rare:potions? of experience
menu += $i_useful:potions? of (brilliance|enlightenment|invisibility|might)
menu += $i_warning:potions? of (attraction|berserk|lignification|mutation)

# Scrolls
menu += $i_normal:scrolls? of (amnesia|enchant|identify)
menu += $i_emergency:scrolls? of (blinking|butterflies|fear|fog|teleportation|summoning)
menu += $i_rare:scrolls? of (acquirement|brand)
menu += $i_useful:scrolls? of (revelation)
menu += $i_warning:scrolls? of (immolation|noise|poison|silence|torment|vulnerability)

# Wands
menu += $i_emergency:wand of digging
menu += $i_normal:wand of (flame|paralysis|charming|mindburst|polymorph)
menu += $i_useful:wand of (acid|iceblast|light|quicksilver|roots|warping)

# Weapons
menu += brown:staff of


####### Message Channels #######
# (Main changes are god, timed_portal, mutation, and several mute/boring)
$m_boring := darkgrey
$m_normal := lightgrey
$m_interesting := white
$m_interface := cyan
$m_info := blue
$m_attention := lightmagenta
$m_danger  := red
$m_warning := lightred
$m_alert := yellow
$m_gain := green
$m_restore := lightblue

channel.plain = $m_normal
channel.prompt = $m_interface
channel.god = $m_alert
channel.duration = $m_restore
channel.danger = $m_danger
channel.warning = $m_warning
channel.recovery = $m_gain
channel.talk = mute
channel.talk_visual = mute
channel.timed_portal = $m_alert
channel.sound = $m_normal
channel.intrinsic_gain = $m_gain
channel.mutation = $m_attention
channel.monster_spell = $m_interesting
channel.monster_enchant = $m_interesting
channel.monster_warning = $m_warning
channel.friend_spell = $m_boring
channel.friend_enchant = $m_boring
channel.friend_action = $m_boring
channel.monster_damage = mute
channel.monster_target = mute
channel.banishment = $m_alert
channel.equipment = $m_normal
channel.floor = $m_boring
channel.multiturn = $m_boring
channel.examine = $m_normal
channel.examine_filter = $m_boring
channel.diagnostic = $m_info
channel.error = $m_attention
channel.tutorial = $m_info
channel.orb = $m_attention
channel.hell_effect = $m_warning
channel.dgl_message = $m_attention

####### Message-specific colors
msc := message_colour

# Travel / Exploring
msc ^= $m_alert:You now have enough gold to buy 
msc ^= $m_alert:You have identified the last 
msc ^= $m_boring:You .*(open|close) the door
msc ^= $m_boring:You climb (upwards|downwards)
msc ^= $m_interesting:Done exploring
msc ^= $m_interesting:Found a faded altar
msc ^= $m_interesting:You disentangle yourself
msc ^= $m_warning:You are caught in .* web

# Combat
msc ^= $m_boring:does no damage
msc ^= $m_boring:No (reachable )?target in view
msc ^= $m_boring:struggles against the net
msc ^= $m_boring:You furiously retaliate
msc ^= $m_boring:You swing at nothing
msc ^= $m_interesting:flickers and vanishes
msc ^= $m_interesting:is touched by paradox
msc ^= $m_interesting:seems to slow down
msc ^= $m_interesting:Your unstable footing causes you to 
msc ^= $m_interesting:You become entangled in the net
msc ^= $m_interesting:You feel a bit more experienced
msc ^= $m_interesting:You .*miss something
msc ^= $m_interesting:You are blasted

# Equipment
msc ^= $m_boring:You unwield your 

# Bad things
msc ^= $m_danger: delaying your translocation

#############################################################################################################
####### MUTES Be careful with these! They come last and use ^= (prepend), to override everything else #######
# Replaced by fully-rest.lua
msc ^= mute:(Ancestor )?HP restored
msc ^= mute:Magic restored

# Unnecessary
msc ^= mute:You now have .* runes
msc ^= mute:to see all the runes you have collected
msc ^= mute:A chill wind blows around you
msc ^= mute:An electric hum fills the air

# Wielding weapons
msc ^= mute:Your .* exudes an aura of protection
msc ^= mute:Your .* glows with a cold blue light

# Monsters /Allies / Neutrals
msc ^= mute:evades? a web
msc ^= mute:is (lightly|moderately|heavily|severely) (damaged|wounded)
msc ^= mute:is almost (dead|destroyed)
msc ^= mute:The (bush|fungus|plant) (looks sick|begins to die|is engulfed|is struck)
msc ^= mute:dissolves into shadows
msc ^= mute:You swap places
msc ^= mute:Your spectral weapon disappears

# Interface
msc ^= mute:Use which ability\?
msc ^= mute:Evoke which item\?$
msc ^= mute:for a list of commands and other information
msc ^= mute:Marking area around
msc ^= mute:(Reduced|Removed|Placed new) exclusion
msc ^= mute:Shift\-Dir \- straight line
msc ^= mute:You can access your shopping list by pressing '\$'

# Books
msc ^= mute:You pick up (?!a manual).*and begin reading
msc ^= mute:Unfortunately\, you learn nothing new

# Spells
msc ^= mute:Your foxfire dissipates

# Religion
msc ^= mute:accepts your kill
msc ^= mute:is honoured by your kill
msc ^= mute:Your shadow attacks

# Ground items / features
msc ^= mute:There is a.*(door|gate|staircase|web).*here
msc ^= mute:You see here .*(corpse|skeleton)
msc ^= mute:You now have .* gold piece
msc ^= mute:You enter the shallow water
msc ^= mute:Moving in this stuff is going to be slow
