more := force_more_message
flash := flash_screen_message

# Almost worth removing
#force_more_message -= You bow before the missionary of Beogh
#force_more_message -= You .* the altar of

# Remove annoying defaults
more -= You have reached level
more -= Marking area around .* as unsafe
more -= welcomes you( back)?!
more -= upon you is lifted
more -= You pick up the .* gem and feel its .* weight
more -= You pick up the .* rune and feel its power
more -= The lock glows eerily
more -= Heavy smoke blows from the lock
more -= The gate opens wide
more -= With a soft hiss the gate opens wide
more -= grants you (a gift|throwing weapons|a weapon)
more += grants you (a gift|a weapon)
more -= You finish merging with the rock

# Significant spells/effects ending
flash += You feel stable
more += is no longer charmed
more += You.*re starting to lose your buoyancy
# Death's Door
more += time is.*running out
more += life is in your own
# Death channel
more += unholy channel is weakening

# Monsters doing things
more += monster_warning:wielding.*of distortion
more += begins to recite a word of recall
more += There is.*feeling in your soul
more += wretched star pulses
more += Strange energies course through your body

flash += doors? slams? shut
flash += blows.*on a signal horn
flash += Deactivating autopickup
flash += Its appearance distorts for a moment
flash += The.*offers itself to Yredelemnul
flash += The forest starts to sway and rumble
flash += Your?.*suddenly stops? moving

# Crowd control
more += You.*(?<!( too|less)) confused
more += You .*(slow.*down|lose consciousness)
more += infuriates you
more += hits you .* distortion
more += Space .* around you
more += surroundings become eerily quiet
more += Your limbs are stiffening

flash += You .* (blown|knocked back|mesmerised|trampled|stumble backwards|encased)
flash += Your magical (effects|defenses) are (unraveling|stripped away)
flash += You stop (a|de)scending the stairs
flash += A sentinel's mark forms upon you
flash += The pull of.*song draws you forward
flash += engulfs you in water

# Clouds
more += danger:(calcify|mutagenic)
more += You.*re engulfed in.*miasma
flash += Miasma billows from the

# You Screwed Up
more += is no longer ready
more += You really shouldn't be using
more += You don't have enough magic to cast this spell
flash += Your body shudders with the violent release
flash += power of Zot

# Found something important
flash += You pick up the .* (gem|rune) and feel its 
more += Found.*the Ecumenical Temple
more += Found.*(treasure|bazaar|ziggurat)
more += .*resides here
more += You have a vision of.*gates?
more += Press the corresponding letter to learn more about a god
flash += timed_portal:.*

# Translocations
more += danger:sense of stasis
more += Your surroundings.*(different|flicker)
more += You.*re suddenly pulled into a different region
flash += You blink
flash += danger:You feel strangely .*stable
flash += delaying your translocation

# Big damage
more += your body is wracked
more += The poison in your body grows stronger
more += You.*re lethally poisoned
more += danger:You convulse
more += You feel a (horrible|terrible) chill
more += Your.*terribly
more += You are.*terribly

# Hit by something
more += Terrible wounds open
more += The air around.*erupts in flames
more += The air twists around and violently strikes you in flight
more += You shudder from the earth-shattering force
more += You feel.*(?<!less)( haunted| rot| vulnerable)
flash += danger:corrodes you
flash += Your damage is reflected back at you
flash += ^(?!Your? ).*reflects

# FYI
more += seems mollified
more += You have finished your manual

# Unexpected monsters
more += appears in a (shower|flash)
more += appears out of thin air
more += You sense the presence of something unfriendly
more += Wisps of shadow swirl around

# Misc
more += hell effect:.*
more += god:wrath finds you
more += The walls disappear

# Ashenzari
more += god:Ashenzari invites you to partake
# Dithmenos
more += god:You are shrouded in an aura of darkness
more += god:You.*bleed smoke
more += god:Your shadow.*tangibly mimics your actions
# Fedhas
more += god:Fedhas invokes the elements against you
# Jivya
more += god:will now unseal the treasures of the Slime Pits
more += god:Jiyva alters your body
# Kikubaaqudgha
more += god:Kikubaaqudgha will grant you
# Lugonu
more += god:Lugonu will now corrupt your weapon
more += god:Lugonu sends minions to punish you
# Okawaru
more += god:Okawaru sends forces against you
# Qazlal
flash += god:resistances upon receiving elemental damage
flash += god:You are surrounded by a storm which can block enemy attacks
# The Shining One
more += god:Your divine shield starts to fade
more += god:Your divine shield fades away
# Trog
more += god:You feel the effects of Trog's Hand fading
more += god:You feel less resistant to hostile enchantments
# Xom
more += staircase.*moves
more += Some monsters swap places
# Yredelemnul
more += god:soul is no.* ripe for the taking
more += god:dark mirror aura disappears
# Zin
more += god:will now cure all your mutations
