include = pickup-alert/pa-util.rc


-- Auto-drop items that are strictly worse than another
-- On item pickup, inscribes inferior items with "~drop"
drop_filter += ~drop

{
function inscribe_drop(it)
  local new_inscr = it.inscription:gsub("~drop", "").."~drop"
  it.inscribe(new_inscr, false)
end

------------------------------------------
------------------ Hook ------------------
------------------------------------------
function c_assign_invletter_drop_inferior(it)
  -- Skip brands that are potentially harmful
  local it_ego = it.ego()
  if it_ego == "distortion" or it_ego == "chaos" or it_ego == "infusion" then return end
  
  local it_class = it.class(true)
  if it_class ~= "weapon" and it_class ~= "armour" then return end
  
  local risky_artefact = false
  if it.artefact then
    local qualname = it.name("qual")
    if qualname:find("%-") or qualname:find("Harm") or qualname:find("Infuse") then
      risky_artefact = true
    end
  end

  if risky_artefact then return end

  local st = it.subtype()
  local basename = it.name("base")

  for inv in iter.invent_iterator:new(items.inventory()) do
    local item_match = false
    if inv.subtype() == st then
      if st == "body" then
        if inv.encumbrance >= it.encumbrance then item_match = true end
      else
        if inv.subtype() == st then item_match = true end
      end
    end

    if not inv.artefact and item_match and (not has_ego(inv) or get_ego(inv) == get_ego(it)) then
      if it_class == "weapon" then
        if inv.plus <= it.plus then inscribe_drop(inv) end
      else
        if get_armour_ac(inv) <= get_armour_ac(it) then inscribe_drop(inv) end
      end
    end
  end
end


function c_assign_invletter_exclude_dropped(it)
 -- Remove "~drop" inscription on pickup
  it.inscribe(it.inscription:gsub("~drop", ""), false)
end
}