{
-- Add autopickup exclusion for any jewellery/missile/evocable item that is dropped
-- Exclusion is removed when you pick the item back up

-------------------------
---- Persistant data ----
-------------------------
if not dropped_item_exclusions or you.turns() == 0 then
  dropped_item_exclusions = ""
end

local function persist_dropped_item_exclusions()
  return "dropped_item_exclusions = \""..dropped_item_exclusions.."\""..string.char(10)
end

if not added_exclude_dropped_hooks then
  table.insert(chk_lua_save, persist_dropped_item_exclusions)
  added_exclude_dropped_hooks = true
end


local function get_jewellery_name(text)
  local idx  = text:find("ring of ")
  if not idx then idx = text:find("amulet of ") end
  if not idx then return end
  
  text = text:gsub(" {.*}", "")
  text = text:gsub("[.]", "")
  return text:sub(idx,#text)
end

local all_missiles = { " stone", "poisoned dart", "curare", "atropa", "datura", "boomerang", "javelin" }
local function get_missile_name(text)
  for _, item_name in ipairs(all_missiles) do
    if text:find(item_name) then
      if item_name == "boomerang" or item_name == "javelin" then
        if text:find("silver") then
          item_name = "silver "..item_name
        elseif text:find("dispersal") then
          item_name = item_name.."s? of dispersal"
        else
          item_name = "(?<!silver )"..item_name.."(?!(s? of dispersal))"
        end
      end
      
      return item_name
    end
  end
end

local all_misc = { "phial of floods", "lightning rod", "tin of tremorstones", 
      "condenser vane", "box of beasts", "phantom mirror", "piece from Xom's chessboard" }
local function get_misc_name(text)
  for _, item_name in ipairs(all_misc) do
    if text:find(item_name) then return item_name end
  end
end



------------------------------------------
------------------ Hook ------------------
------------------------------------------

function c_message_exclude_dropped(text, channel)
  if channel ~= "plain" then return end
  
  local exclude
  if text:find("You drop ") then exclude = true
  elseif text:find(" %- ") then exclude = false
  else return
  end

  local item_name = get_jewellery_name(text)
  if not item_name then item_name = get_missile_name(text) end
  if not item_name then item_name = get_misc_name(text) end
  if not item_name then return end

  if exclude then
    crawl.setopt("autopickup_exceptions ^= >"..item_name)
    if dropped_item_exclusions ~= "" then dropped_item_exclusions = dropped_item_exclusions.."," end
  else
    crawl.setopt("autopickup_exceptions -= >"..item_name)
    -- Remove persistant exclusion (try 3 times to make sure we capture comma)
    dropped_item_exclusions = dropped_item_exclusions:gsub(",>"..item_name, "")
    dropped_item_exclusions = dropped_item_exclusions:gsub(">"..item_name..",", "")
    dropped_item_exclusions = dropped_item_exclusions:gsub(">"..item_name, "")
  end
end
crawl.setopt("autopickup_exceptions ^= < stone, <dart, <boomerang, <javelin")
if dropped_item_exclusions ~= "" then crawl.setopt("autopickup_exceptions ^= "..dropped_item_exclusions) end

}