include = pickup-alert/pa-util.rc
{

------------------------------------------
------------------ Hook ------------------
------------------------------------------
function ready_inscribe_dps()
  for slot = 0,51 do
    local it = items.inslot(slot)
    if it and (it.class(true) == "weapon" or it.class(true) == "magical staff") then
      inscribe_stats(it)
    end
  end
end
}