{
-------------------------------------
---- Unidentified items reminder ----
-------------------------------------
local function remind_unidentified_items(have_unidentified)
  for it in iter.invent_iterator:new(items.inventory()) do
    if not it.fully_identified then
	  for s in iter.invent_iterator:new(items.inventory()) do
        if s and s.name("qual"):find("scroll of identify") then
		  crawl.mpr("<magenta>----You have something to identify.----</magenta>", "plain")
        end
      end
	  
	  return
    end
  end
end
crawl.setopt("runrest_stop_message += You have something to identify")



---------------------------------------------
------------------- Hooks -------------------
---------------------------------------------
function c_message_remind_identify(text, channel)
  if channel ~= "plain" then return end

  if text:find(" of identify") and not text:find("drop") and not text:find("read") then
    remind_unidentified_items(false)
  end
end

function c_assign_invletter_remind_identify(it)
  if not it.fully_identified then remind_unidentified_items(true) end
end
}